/*
---
name: 見出し
category:
  - components
  - components/headings
tag:
  - タグ
---

`-is-small` モディファイアで小サイズ。
```html
<h2 class="basic-title">NEWS & TOPIC</h2>
```
*/

.basic-title {
  text-align: center;
  font-size: 34px;
  line-height: 1.06;
  &.-is-small {
    font-size: 20px;
  }
}
