/*
 - 既存スタイルのオーバーライド
 - レスポンシブ化
*/

.aigis-categoryList ul {
  list-style-type: none;
}

.aigis-categoryList ul[data-path-depth="1"] {
  display: none;
}

.aigis-categoryList [aria-expanded=true] ul[data-path-depth] {
  display: block;
}

.aigis-categoryList [data-path-depth="0"] > a::after {
  content: "+";
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #999;
  color: #999;
  height: 1em;
  width: 1em;
  margin-left: 1em;
  background-color: #fff;
}

.aigis-categoryList [aria-expanded=true] > a::after {
  content: "-";
}

@media screen and (max-width: 1039px) {

  .aigis-container {
    width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .aigis-sidemenu {
    position: relative;
    width: auto;
  }

  .aigis-contents {
    width: 100%;
    padding: 0;
  }

  .aigis-contents__body {
    max-width: 100%;
    min-width: 100%;
    box-sizing: border-box;
  }

  .aigis-preview {
    border-radius: 0;
    border-width: 1px 0;
    margin-left: -3px;
    margin-right: -3px;
    box-sizing: border-box;
  }

  .aigis-preview + pre {
    margin-left: -3px;
    margin-right: -3px;
  }
}
