<%
  const data = {
    title: '',
    description: '',
    url: '',
    path: './',
    slug: 'top'
  }
%>
<%- include( data.path + '_partial/_head', {data: data} ); %>
<%- include( data.path + '_partial/_header', {data: data} ); %>
<main>

</main>
<%- include( data.path + '_partial/_footer', {data: data} ); %>
